<!-- Add Stock Modal -->
<div id="editVehicleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false" style="padding: 20px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Vehicle Details</h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="vehicleForm">

          <div class="row">
            <!--Manufacturer-->
            <div class="col">
              <input type="text" class="form-control ModalInput" placeholder="Manufacturer"
                formControlName="manufacturer">
            </div>
            <!--Colour-->
            <div class="col">
              <input type="text" class="form-control ModalInput" placeholder="Colour" formControlName="colour">
            </div>
          </div>

          <!--Model Description-->
          <div class="form-floating">
            <textarea class="form-control ModalInput" placeholder="Model Description" id="modelDescriptionInput"
              style="height: 60px" formControlName="modelDescription"></textarea>
            <label for="modelDescriptionInput">Model Description</label>
          </div>

          <div class="row">
            <!--Kilometre Reading-->
            <div class="col">
              <input type="number" class="form-control ModalInput" placeholder="Kilometre Reading (Km)"
                formControlName="kilometreReading">
            </div>
            <!--Model Year-->
            <div class="col">
              <input type="number" class="form-control ModalInput" placeholder="Model Year (YYYY)"
                formControlName="modelYear">
            </div>
          </div>

          <div class="row">
            <!--Registration Number-->
            <div class="col">
              <input type="text" class="form-control ModalInput" placeholder="Registration Number"
                formControlName="registrationNumber">
            </div>
            <!--VIN-->
            <div class="col">
              <input type="text" class="form-control ModalInput" placeholder="VIN" formControlName="vin">
            </div>
          </div>

          <div class="row mt-1">
            <!--Cost Price-->
            <div class="col">
              <input type="number" class="form-control ModalInput" placeholder="Cost Price (R)"
                formControlName="costPrice">
            </div>
            <!--Retail Price-->
            <div class="col">
              <input type="number" class="form-control ModalInput" placeholder="Retail Price (R)"
                formControlName="retailPrice">
            </div>
          </div>



          <table class="table table-hover ">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2">Accessories</td>
              </tr>
            </thead>

            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <div style="margin-top: 1rem;">
                  <div class="input-group w-auto">
                    <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                      aria-describedby="button-addon1" #Name (keyup)="accessoryToAddName(Name.value)" />
                    <input type="text" class="form-control" placeholder="Description" aria-label="Description"
                      aria-describedby="button-addon1" #Desc (keyup)="accessoryToAddDesc(Desc.value)" />
                    <button style="height: fit-content;" (click)="addAccessory()" class="btn-success btn btn-primary"
                      type="button" id="button-addon1" data-mdb-ripple-color="dark">
                      Add
                    </button>
                  </div>
                </div>
              </tr>
            </thead>


            <div class="list-group" *ngFor="let accessory of Accessories">
              <div class="list-group">
                <a class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h3 class="form-control mb-1">{{accessory.Name}}</h3>
                  </div>
                  <p style="overflow: auto;" class="form-control mb-1">{{accessory.Description}}</p>
                  <div style="text-align: end;">
                    <button type="button" (click)="removeAccessory(accessory.Name,accessory.Description)"
                      class="btn btn-secondary btn-danger">Remove</button>
                  </div>
                </a>
              </div>


            </div>

            <!--images-->
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2"> Images <i class="fa fa-info-circle pointer" aria-hidden="true" data-bs-toggle="popover"
                    data-bs-content="Replace Images (optional)"></i> </td>
              </tr>
            </thead>
            <div class="row mt-3">
              <div class="col">
                <input multiple type="file" class="form-control" id="vehicleImages" #fileInput
                  (change)="onFileChange(fileInput)">
              </div>
            </div>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" #closeForm>Cancel</button>
        <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="saveStock()">Save</button>
      </div>
    </div>
  </div>
</div>