<table>
  <thead>
    <th> model_year</th>
    <th> model_description</th>
    <th> manufacturer</th>
    <th> colour</th>
    <th> registration_number</th>
    <th> vin</th>
    <th> kms</th>
    <th> retail_price</th>
    <th> cost_price</th>
    <th> dt_created</th>
    <th> dt_updated</th>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td> {{vehicle.modelYear}}</td>
      <td> {{vehicle.modelDescription}}</td>
      <td> {{vehicle.manufacturer}}</td>
      <td> {{vehicle.colour}}</td>
      <td> {{vehicle.registrationNumber}}</td>
      <td> {{vehicle.vin}}</td>
      <td> {{vehicle.kilometreReading}}</td>
      <td> {{vehicle.retailPrice}}</td>
      <td> {{vehicle.costPrice}}</td>
      <td> {{vehicle.dtCreated}}</td>
      <td> {{vehicle.dtUpdated}}</td>
    </tr>
  </tbody>
</table>