<footer class="text-center text-white" style="background-color: rgb(255, 255, 255);">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/phillip-m-92b2a7136/" role="button"><i class="fab fa-linkedin"></i></a>
      <!-- Github -->
      <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/PhillipMarais" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Demo: All rights reserved
  </div>
  <!-- Copyright -->
</footer>