<div class="container-fluid g-0 p-2">
  <div class="row g-0">

    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <img src="../../../assets/google_icon.png" alt="Profile Image" class="profile">
    </div>

    <div class="col ps-2">

      <div class="row g-0">

        <div class="col-md-10 text-center">
          <span class="manufacturer">{{vehicle.manufacturer}}</span>
        </div>



      </div>
      <div class="row g-0 mt-3">

        <div class="row-md">

          <table class="table table-hover mx-auto">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2">Stock Details</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Model</td>
                <td>{{vehicle.modelDescription}}</td>
              </tr>
              <tr>
                <td>Model Year</td>
                <td>{{vehicle.modelYear}}</td>
              </tr>
              <tr>
                <td>Kilometres</td>
                <td>Km {{vehicle.kilometreReading}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row">
          <table class="table table-hover mx-auto">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2">Price Details</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cost Price</td>
                <td>R {{vehicle.costPrice}}</td>
              </tr>
              <tr>
                <td>Retail Price</td>
                <td>R {{vehicle.retailPrice}}</td>
              </tr>
              <tr>
                <td>Last Updated</td>
                <td>{{vehicle.dtUpdated}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end" role="group" style="padding: 1rem;">
  <button mat-raised-button style="color: #f0fff3; background-color: #4bc0c4;"
    (click)="openDialog('0ms', '0ms', 'view')">Details</button>
  <button mat-raised-button style="color: #f0fff3; background-color: #4baf53;"
    (click)="openDialog('0ms', '0ms', 'edit')">Edit</button>
  <button mat-raised-button style="color: #f0fff3; background-color: #ca1313;"
    (click)="openDialog('0ms', '0ms', 'delete')">Delete</button>
</div>