<div class="container-fluid g-0 p-2" style="
    background: whitesmoke;">
  <div class="row g-0">

    <div class="col-md-4 stockImageContainer">
      <img class="stockImage" *ngIf="vehicle.imagesArray && vehicle.imagesArray.length > 0"
        [src]="'data:image/png;base64,' + vehicle.imagesArray[0]" alt="Vehicle Image">
    </div>

    <div class="col ps-2">

      <div class="row g-0" style="justify-content: center;">

        <div class="col-md-10 bg-dark stockHeader">
          <span class="modelHeading">{{vehicle.modelDescription}}</span>
        </div>



      </div>
      <div class="row g-0 mt-3" style="line-height: normal; background-color: whitesmoke;">

        <div class="row-md">

          <table class="table table-hover mx-auto">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2" style="
                  background: whitesmoke;
                  text-decoration: underline;">
                  Stock Details</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Manufacturer</td>
                <td>{{vehicle.manufacturer}}</td>
              </tr>
              <tr>
                <td>Model Year</td>
                <td>{{vehicle.modelYear}}</td>
              </tr>
              <tr>
                <td>Kilometres</td>
                <td>Km {{vehicle.kilometreReading}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row-md">
          <table class="table table-hover mx-auto">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2" style="
                  background: whitesmoke;
                  text-decoration: underline;">
                  Price Details</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cost Price</td>
                <td>R {{vehicle.costPrice}}</td>
              </tr>
              <tr>
                <td>Retail Price</td>
                <td>R {{vehicle.retailPrice}}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" role="group" style="padding-bottom: 10px;">
            <button mat-raised-button style="color: #f0fff3; background-color: #4bc0c4;"
              (click)="openDialog('0ms', '0ms', 'view')">Details <i class="fa fa-bars" aria-hidden="true"></i></button>
            <button mat-raised-button style="color: #f0fff3; background-color: #4baf53;"
              (click)="openDialog('0ms', '0ms', 'edit')">Edit <i class="fa fa-pencil-square"
                aria-hidden="true"></i></button>
            <button mat-raised-button style="color: #f0fff3; background-color: #ca1313; margin-right: 5%;"
              (click)="openDialog('0ms', '0ms', 'delete')">Delete <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto" id="toastHeading"></strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toastBody">
    </div>
  </div>
</div>